#chart { display: none; height:80% !important; width:80% !important; margin:auto; }
#range { float: right; font-family:Arial, Helvetica, sans-serif; margin-right: 12%; color: #777; }
#analytics { margin: 0 auto; display: flex; justify-content: center; }
.hcard {
  margin: 20px;
  border: 1px solid #bbb;
  padding: 10px;
  font-family: monospace;
  border-radius: 5px;
  background-color: #ccc;
}
.hcard.projection-above-avg { background-color: #eec }
.hcard.current-above-avg { background-color: #cfc }
.hcard.projection-above-goal { background-color: #cfc }
.hcard.current-above-goal { background-color: #287128; color: #fff; }
.hcard .label { margin: 5px 0; font-size: 1.2em; }
.hcard label { font-size: 0.7em; margin: 0 5px 0 0; }
.goal .value { cursor: pointer; }
.goal .value:hover { background-color: #ffa; font-size: 1.1em; }
.spacer-400h { height: 400px; }
.spacer-40h { height: 40px; }
